@model IEnumerable<EnfermariaSenac.Models.Enfermagem>

@{
    ViewData["Title"] = "Cadastro Enfermagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastro Enfermagem</h1>

<p>
    <a asp-action="Create">Novo Cadastro</a>
</p>
<table class="table mx-auto">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Enfermagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coren)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_Enfermagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coren)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Enfermagem">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Enfermagem">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Enfermagem">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
