@model EnfermariaSenac.Models.Paciente

@{
    ViewData["Title"] = "Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Excluir</h1>

<h3>Deseja excluir esse Paciente?</h3>
<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-4 mx-auto">
            @Html.DisplayNameFor(model => model.Nome_Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_Paciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Nasc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Nasc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alergico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alergico)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID_Paciente" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para lista</a>
    </form>
</div>
